/* .insights-chart-container {
    width: 600px;
    height: 300px;
    margin: 20px auto;
    border: 1px solid #212121;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #212121;
   position: absolute;
  
    left:0px;
    bottom:0px;
  } */
  
  .bar-pink {
    fill: #0D47A1; /* Pink */
  }
  